SECRET_KEY=trocar
ADMIN_USER=admin
ADMIN_PASS=admin123

DATABASE_URL=postgresql://usuario:senha@host:porta/db

RIOT_API_KEY=SUA_KEY_DEV

MATCH_HISTORY_CHANNEL_ID=000000000000
DISCORD_TOKEN=TOKEN_AQUI
