{% extends "index.html" %}
{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}

{% block content %}

<div class="login-wrapper">

    <form method="POST" class="login-card">

        <h2 class="login-title">Login do Admin</h2>
        <p class="login-sub">Acesso restrito</p>

        <div class="login-field">
            <label>Usuário</label>
            <input type="text" name="username" placeholder="Digite seu usuário" required>
        </div>

        <div class="login-field">
            <label>Senha</label>
            <input type="password" name="password" placeholder="Digite sua senha" required>
        </div>

        <button class="login-btn" type="submit">
            Entrar
        </button>

    </form>

</div>

{% endblock %}

