{% extends "index.html" %}
{% block title %}Jogadores{% endblock %}

{% block content %}

<div class="players-wrapper">

    <a href="/" class="back-link">
        <i class="fa-solid fa-arrow-left"></i> Voltar
    </a>

    <h1 class="players-title">Todos os Jogadores</h1>
    <p class="players-subtitle">Total: {{ players|length }} jogadores cadastrados</p>

    <!-- Wrapper que centraliza EXATAMENTE como os cards -->
    <div class="players-center">

        <input type="text" class="players-search" placeholder="Buscar jogador...">

        <div class="players-grid">

            {% for p in players %}
            <a href="{{ url_for('player_profile', name=p['name']) }}" class="player-card">

                <img src="{{ p['icon'] }}" class="player-icon-large">

                <div class="player-info">

                    <div class="player-name-row">
                        <h2 class="player-name">{{ p['name'] }}</h2>
                        <span class="player-tag">#{{ p['nickname'].split('#')[1] }}</span>
                    </div>

                    <div class="lane-row">
                        <img class="lane-icon"
                            src="https://raw.communitydragon.org/latest/plugins/rcp-fe-lol-clash/global/default/assets/images/position-selector/positions/icon-position-{{ p['lane_primary'] }}.png">
                        <img class="lane-icon"
                            src="https://raw.communitydragon.org/latest/plugins/rcp-fe-lol-clash/global/default/assets/images/position-selector/positions/icon-position-{{ p['lane_secondary'] }}.png">
                    </div>

                    <div class="elo-row">
                        <div class="elo-column">
                            <div class="elo-top">
                                <img class="rank-icon"
                                     src="https://raw.communitydragon.org/latest/plugins/rcp-fe-lol-static-assets/global/default/images/ranked-mini-crests/{{ p['elo_solo'].split(' ')[0] | lower }}.svg">
                                <span class="elo-text">{{ p['elo_solo'] }} • {{ p['lp_solo'] }} LP</span>
                            </div>
                            <div class="elo-bottom">
                                <span class="wl-text">{{ p['solo_wins'] }}W / {{ p['solo_losses'] }}L</span>
                            </div>
                        </div>

                        <div class="elo-column">
                            <div class="elo-top">
                                <img class="rank-icon"
                                     src="https://raw.communitydragon.org/latest/plugins/rcp-fe-lol-static-assets/global/default/images/ranked-mini-crests/{{ p['elo_flex'].split(' ')[0] | lower }}.svg">
                                <span class="elo-text">{{ p['elo_flex'] }} • {{ p['lp_flex'] }} LP</span>
                            </div>
                            <div class="elo-bottom">
                                <span class="wl-text">{{ p['flex_wins'] }}W / {{ p['flex_losses'] }}L</span>
                            </div>
                        </div>
                    </div>

                </div>

            </a>
            {% endfor %}

        </div>

    </div>

</div>
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/players.css') }}">
{% endblock %}
